{% include 'nav.html' %}
<style rel="stylesheet" type="text/css">


.news {
  margin-top: 190px;
  margin-bottom: 100px;
}
#fo {
  font-size: 25px;
}


</style>

<blockquote class="blockquote m-5">
    <h2 class="m-3 text-center">Hello everyone hope you enjoy this Website! Thanks for visiting for website</h2>
</blockquote>
 <div class="news">
<blockquote id="blo" class="blockquote m-5" topmargin="100px">
  <p id="fo" class="m-5 text-center text-white bg-dark">We have created this website to help thousands of game lovers how to download the but they can't find right website.Here we have the website to help thousands of game lovers how are very excited to play the game.We have collected many game website data.From them we have selected best games.And we have put somes of best games that people always love to play. These games are evergreen.We have created sepreate games card to access that particular game.We have also categorized games into different categories to better organized our data base.</p>
</blockquote>
 </div>
<h4 class="text-center m-5"><u>You can Contact us from below:-</u></h4>
<div class="m-5">
<address>
    <strong>GamaSutra</strong><br>
    18 Narnarayan society Bapunagar<br>
    Ahmedabad, Gujarat 382350<br>
    <abbr title="Phone">P: 9099140764</abbr>
  </address>
<address>
    <strong><u>Smit Gol</u></strong><br>
    <a href="mailto:smitgol007@gmail.com">smitgol007@gmail.com</a>
  </address>
</div>

