{% include "nav.html" %}
{% for i in pro %}
{% if i.id == 6 %}
<div class="text-center m-5">
<h1>{{ i.name }}</h1>
    </div>
<div class="media">
  <img src="{{ i.image_url }}" class="mx-5" alt="..." height="330px" width="290px">
  <div class="media-body m-1">
    <p class="my-5">{{ i.description }}</p>
    {{ i.req }}
  </div>
</div>
<div class="text-center m-5">
<h4><u>From below links you can Download the games For Free</u></h4>
    </div>
<div class="list-group m-5">
  <a href="https://www.grabpcgames.com/call-of-duty-modern-warfare-3-pc-download-full-game/" target="_blank" class="list-group-item list-group-item-action active">
    Grab PC Games
  </a>
  <a href="https://topxgame.com/call-of-duty-modern-warfare-3-free-download/" target="_blank" class="list-group-item list-group-item-action">Top X Games</a>
  <a href="https://steamunlocked.net/call-of-duty-modern-warfare-3-free-download-2/" target="_blank" class="list-group-item list-group-item-action">Steam Unlocked</a>
  <a href="https://2af7-downloads.phpnuke.org/en/c151072/call-of-duty-modern-warfare-3" class="list-group-item list-group-item-action">Php nuke</a>
</div>
{% endif %}
{% endfor %}
