{% include "nav.html" %}
{% for i in pro %}
{% if i.id == 9 %}
<div class="text-center m-5">
<h1>{{ i.name }}</h1>
    </div>
<div class="media">
  <img src="{{ i.image_url }}" class="mx-5" alt="...">
  <div class="media-body m-1">
    <p class="my-5">{{ i.description }}</p>
    {{ i.req }}
  </div>
</div>
<div class="text-center m-5">
<h4><u>From below links you can Download the games For Free</u></h4>
    </div>
<div class="list-group m-5">
  <a href="https://topxgame.com/far-cry-4-free-download/" target="_blank" class="list-group-item list-group-item-action active">
    Top X Games
  </a>
  <a href="https://gamersmaze.com/far-cry-4-torrent-download/" target="_blank" class="list-group-item list-group-item-action">Gamers Maze</a>
  <a href="https://www.grabpcgames.com/far-cry-4-pc-full-game-download/" target="_blank" class="list-group-item list-group-item-action">Grab Pc Games</a>
  <a href="https://gamefabrique.com/games/far-cry-4/" target="_blank" class="list-group-item list-group-item-action">Game Farbrique</a>
</div>
{% endif %}
{% endfor %}
