{% include 'nav.html' %}
<div class="text-center m-5">
    <h2><u>Special to These game website</u></h2>
</div>
<div class="list-group m-5 text-center">
  <a href="https://repack-mechanics.com/" target="_blank" class="list-group-item list-group-item-action active">
    R.G Meachanics
  </a>
  <a href="https://www-oceanofgames.com/" class="list-group-item list-group-item-action">Oceans of Games</a>
  <a href="http://www.traxgame.com/games.php" target="_blank" class="list-group-item list-group-item-action active">Game Trax</a>
  <a href="https://steamunlocked.net/" target="_blank" class="list-group-item list-group-item-action">Steam Unlocked</a>
  <a href="https://feverofgames.com/" target="_blank" class="list-group-item list-group-item-action active">Fever of Games</a>
  <a href="https://topxgame.com/" target="_blank" class="list-group-item list-group-item-action">Top X Games</a>
  <a href="https://freegogpcgames.com/" target="_blank" class="list-group-item list-group-item-action active">Free go pc games</a>
  <a href="https://www.thegamesdownload.net/" target="_blank" class="list-group-item list-group-item-action">The games download</a>
  <a href="https://www.grabpcgames.com/" target="_blank" class="list-group-item list-group-item-action active">grab pc games</a>
  <a href="https://gamefabrique.com/" target="_blank" class="list-group-item list-group-item-action">game Fabique</a>
  <a href="https://www.malavida.com/en/android/" target="_blank" class="list-group-item list-group-item-action active">Malavida</a>
  <a href="https://gamersmaze.com/" target="_blank" class="list-group-item list-group-item-action">Gamers Maze</a>
  <a href="https://www.namokargamingworld.com/" target="_blank" class="list-group-item list-group-item-action active">Namokar Gaming World</a>
  <a href="https://craxgames.com/" target="_blank" class="list-group-item list-group-item-action">Crax games</a>
  <a href="https://se7en.ws/" target="_blank" class="list-group-item list-group-item-action active">Se7en</a>
  <a href="https://crohasit.net/" target="_blank" class="list-group-item list-group-item-action">Crohasit</a>
  <a href="https://repack-games.com/" target="_blank" class="list-group-item list-group-item-action active">Repack Games</a>
</div>
<div class="text-center m-5">
    <h3><u>Special thanks to the ASYLUM OF GAMERS Youtube channel for providing content</u></h3>
  <h4 class="m-4"><a href="https://www.youtube.com/channel/UCYaMgtJvSvVkuQ6aSFmFYwg">please subscribe his channel by clicking here</a></h4>
</div>
